[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py = "==2.1.0"
gin-config = "==0.5.0"
psutil = "==6.1.0"
tf-agents = "==0.19.0"
tensorflow = "==2.15.0"
dm-reverb = "==0.14.0"

[dev-packages]
pylint = "==3.3.2"
pytest = "==8.3.4"
pytype = "==2024.10.11"
yapf = "==0.43.0"

[ci]
joblib = "==1.4.2"
shap = "==0.46.0"

