[[source]]
url = "https://us-python.pkg.dev/artifact-foundry-prod/ah-3p-staging-python/simple/"
verify_ssl = true
name = "pip_conf_index_global"

[packages]

[dev-packages]

[requires]
python_version = "3.10"
