absl-py==1.0.0
astunparse==1.6.3
cachetools==4.2.2
certifi==2021.5.30
charset-normalizer==2.0.4
cloudpickle==1.6.0
decorator==5.0.9
dm-tree==0.1.6
flatbuffers==2.0
future==0.18.2
gast==0.4.0
gin==0.1.6
gin-config==0.5.0
google-auth==1.35.0
google-auth-oauthlib==0.4.5
google-pasta==0.2.0
grpcio==1.39.0
gym==0.19.0
h5py==3.6.0
idna==3.2
keras-nightly==2.11.0.dev2022082307
Keras-Preprocessing==1.1.2
libclang==13.0.0
Markdown==3.3.4
numpy==1.22.1
oauthlib==3.1.1
opt-einsum==3.3.0
packaging==21.3
Pillow==9.2.0
protobuf==3.17.3
psutil==5.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pygame==2.1.0
pyglet==1.5.0
pyparsing==3.0.9
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
scipy==1.7.2
six==1.16.0
tb-nightly==2.11.0a20220823
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-io-gcs-filesystem-nightly==0.26.0.dev20220816191153
termcolor==1.1.0
tf-agents-nightly==0.14.0.dev20220823
tf-estimator-nightly==2.11.0.dev2022082308
tf-nightly==2.11.0.dev20220823
tfp-nightly==0.17.0.dev20220823
typing_extensions==4.0.1
urllib3==1.26.6
Werkzeug==2.0.1
wrapt==1.13.3
zipp==3.7.0
