# This is a basic workflow to help you get started with Actions

name: MLGO CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytype==2022.06.06 pylint==2.14.1
          pylint --version
      - name: Type check
        run: |
          pytype --protocols -j auto .
      - name: Test
        run: |
          pytest
      - name: Lint
        run: |
          pylint --rcfile .pylintrc --recursive yes .
